<!doctype html>
<html lang="en">
  <head>
	<tittle> Global Code </tittle>
	<meta charset = "UTF-8">
	<link href = "mystyle.css" type = "test/css" rel = "stylesheet"/>

  </head>

  <body>
	<div class = "header">
   	<h1>GLOBAL CODE GHANA</h1>
	<h2> htu compus </h2>
	</div> <br>

	<div class = "link">
	<center>
	<a href = "home.html" target = "_blank">home</a>
	<a href = "about.html" target = "_blank">about us</a>
	<a href = "login.html" target = "_blank">login</a>
	</center></div><br>
	
	<img src = "templates/image/gc.png" height = "100px" width = "150px">
	<img src = "static/image/as.svg" height = "100px" width = "150px">
	<img src = "static/image/ws.svg" height = "100px" width = "150px">

	<h1>What is Global Code? </h1>
	We're a charitable startup, based in the UK

Every year, we take the world's best programmers, engineers and educators to universities in West Africa and beyond.

We work with dynamic, insightful students in public universities. 
We teach professional, practical software enginering skills.

We find great students that are already learning to code and boost their knowledge with a rich, focussed programme of labs,
group work and driven self-learning.

Our students learn by example: we use git for all our project work, we discuss diversity and open-source software, 
we show the fun and beauty in our craft.

We get our hands dirty. We solve problems with code.
	
	<div class = "footer">
	<center><p>&copy ALL Copyright Reserved 2019</p></center>
	<div>
</body>
</html>