<!doctype html>
<html lang="en">
  <head>
	<tittle> Global Code </tittle>
	<meta charset = "UTF-8">
	<link href = "mystyle.css" type = "test/css" rel = "stylesheet"/>

  </head>

  <body>
	<div class = "header">
   	<h1>GLOBAL CODE GHANA</h1>
	<h2> htu compus </h2>
	</div> <br>

	<div class = "link">
	<center>
	<a href = "home.html" target = "_blank">home</a>
	<a href = "about.html" target = "_blank">about us</a>
	<a href = "login.html" target = "_blank">login</a>
	</center></div><br>
	
	<Form action = "MAILTO:user @ domain.com" method = "POST">
	<label>First Name</label>
	<input type = "text" name = "fname">

	<label> Last Name</label>
	<input type = "text" name = "Lname"> 

	<label> Username</label>
	<input type = "text" name = "uname">
	<br><br>
	<label> Password</label>
	<input type = "password" name = "pwd">

	<label> email address </label>
	<input type = "text" name ="mail">

	<label>Contact</label>
	<input type = "text" name = "contact"><br><br>

	<labe> Department </ label>
	<input type ="text" name = "department">

	<label> Gender</label>
	<input type = "radio" name = "sex" value = "Male">Male
	<input type = "radio" name = "sex" value = "Female">Female
	<input type = "radio" name = "sex" value = "Other">Other

	Programme:
	<select name = "drop down">
	<option value = "I.C.T" selected> I.C.T</option>
	<option value = "CSS" > CSS</option>
	<option value = "Electronics" > Electronics</option>
	<option value = "Hospitality" > Hospitality</option>
	</select>

	<input type = "submit" name = "submit">	 
	<input type = "reset" name = "reset">

	</Form><br><br><br><br><br><br><br><br>

	<i><b> Contact us on </i></b>
	Tel: 0244099226
	Fax: 0248939882
	e-mail: info@globalcode.org.UK<br>


	<i><b> location </i></b>
	Ho Central
	Ho Technical University
	P.O.Box: HP217,Ho<br>

	<a href = "www.htu.edu.gh" target = _"blank"> Ho Technical University </a>
	<br>

	<div class = "footer">
	<center><p>&copy ALL Copyright Reserved 2019</p></center>
	<div>
</body>
</html>	
		
	







