<!doctype html>
<html lang="en">
  <head>
	<tittle> Global Code</tittle>
	<meta charset = "UTF-8">
	<link href="mystyle.css" type="test/css" rel="stylesheet">

  </head>

  <body>
	<div class = "header">
   	<h1>GLOBAL CODE GHANA</h1>
	<h2> htu compus </h2>
	</div> <br>

	<div class = "link">
	<center>
	<a href = "home.html" target = "_blank">home</a>
	<a href = "about.html" target = "_blank">about us</a>
	<a href = "login.html" target = "_blank">login</a>
	</center></div><br>

	<img src = "templates/image/wa.JPEG " height = "400px" width = "140px">
	<br>
	
	<div class = "link">
	<center>
	<a href = "home.html" target = "_blank"> home </a>
	<a href = "about.html" target = "_blank"> about us </a>
	<a href = "login.html" target = "_blank"> login </a>
	</center></div><br>
  </body>

</html>